<a href="https://colab.research.google.com/github/prasadthegreat799/Ai_Projects/blob/main/Handling_Imbalenced_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Imbalenced Dataset:A Dataset with unequal class distribution

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dataset=pd.read_csv('/content/credit_data.csv')

In [ ]:
dataset.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [ ]:
dataset.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
67429  52531 -0.668025  0.539737  0.161731  ...  0.017185  0.105271   49.97    0.0
67430  52532 -0.679169  1.237672  1.602476  ...  0.380961  0.183103    7.13    0.0
67431  52532 -0.102663  0.890146  1.178701  ...  0.028038  0.029944    9.50    0.0
67432  52532  0.797464 -0.947293  1.045822  ... -0.049685  0.031583  170.82    0.0
67433  52534  1.210560  0.291028  0.273319  ...       NaN       NaN     NaN    NaN

[5 rows x 31 columns]

In [ ]:
dataset.isnull()

        Time     V1     V2     V3     V4  ...    V26    V27    V28  Amount  Class
0      False  False  False  False  False  ...  False  False  False   False  False
1      False  False  False  False  False  ...  False  False  False   False  False
2      False  False  False  False  False  ...  False  False  False   False  False
3      False  False  False  False  False  ...  False  False  False   False  False
4      False  False  False  False  False  ...  False  False  False   False  False
...      ...    ...    ...    ...    ...  ...    ...    ...    ...     ...    ...
67429  False  False  False  False  False  ...  False  False  False   False  False
67430  False  False  False  False  False  ...  False  False  False   False  False
67431  False  False  False  False  False  ...  False  False  False   False  False
67432  False  False  False  False  False  ...  False  False  False   False  False
67433  False  False  False  False  False  ...   True   True   True    True   True

[67434 rows x 31 columns]

In [ ]:
dataset.shape

(83279, 31)

In [ ]:
#distribution of two classes
dataset['Class'].value_counts()

0.0    83077
1.0      201
Name: Class, dtype: int64

This is imbalanced Dataset

0-->legit Transactions
1-->Fraud Transactions

In [ ]:
#seperating the legit and fraud transactions
legit=dataset[dataset.Class==0]
fraud=dataset[dataset.Class==1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(83077, 31)
(201, 31)

UnderSampling

Building a sample dataset containging the similar dirstubution of legit and fraud transactions.

In [ ]:
legit_sample=legit.sample(n=201)

In [ ]:
legit_sample.shape

(201, 31)

Concatinating the fraud and legit datasets

In [ ]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)
#here axis=0 row wise

In [ ]:
new_dataset.head()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
1238     955  1.120740  0.406609  0.148299  ... -0.029891 -0.002510   17.92    0.0
54457  46455 -0.982422  1.577488  2.251223  ... -0.157673  0.021009   10.62    0.0
66152  51911 -1.863516 -0.614367  2.490804  ... -0.054843 -0.252319    9.99    0.0
5538    5628 -0.953812  1.156079  2.152648  ... -0.966699 -1.106111    1.54    0.0
81999  59198 -2.363454  0.835495  0.951839  ...  0.130541 -0.126741   14.40    0.0

[5 rows x 31 columns]

In [ ]:
new_dataset.tail()

        Time        V1        V2        V3  ...       V27       V28   Amount  Class
80760  58642 -0.451383  2.225147 -4.953050  ...  0.455179  0.001321   113.92    1.0
81186  58822 -4.384221  3.264665 -3.077158  ... -1.537652 -0.994022    45.64    1.0
81609  59011 -2.326922 -3.348439 -3.513408  ...  0.302324  0.536375  1389.56    1.0
82400  59385 -7.626924 -6.976420 -2.077911  ...  0.821381 -1.056088    18.98    1.0
83053  59669  0.326007  1.286638 -2.007181  ...  0.580495  0.300984     6.27    1.0

[5 rows x 31 columns]

In [ ]:
new_dataset['Class'].value_counts()

1.0    201
0.0    201
Name: Class, dtype: int64